export applications="Name=Hadoop Name=Spark"
export KeyName="EKSDemo"
export InstanceProfile="EMR_EC2_DefaultRole"
export SubnetId="subnet-46b8e122"
export EmrManagedSlaveSecurityGroup="sg-0da5425887ee5aa7f"
export EmrManagedMasterSecurityGroup="sg-04d0134143b871d41"
export EMR_version="emr-5.17.0"
export class="org.apache.spark.examples.SparkPi"
export jar="dynamicclustersparkdemo/code/spark/spark-examples_2.11-2.3.2.jar"
export InstanceType="m4.xlarge"
export servicerole="EMR_DefaultRole"
export name="Step-execution-example_naresh"
export region="us-east-1"
