export name="EKSDemo"
export role="arn:aws:iam::246453331714:role/EKSID"
export subnetIds="subnet-022533c9d10886676,subnet-08035de61b73936aa,subnet-01ef5fc5daeb23246"
export securityGroupIds="sg-0ff896a320ebe2e1d"
export region="us-east-1"
export VpcId="vpc-02cfe033ecee48139"
export worker_cluser_name="${name}workers"
export NodeImageId="ami-0c24db5df6badc35a"
export KeyName="EKSDemo"
export NodeGroupName="EKSWorkerStack"
export subnetIds_escape_comma="subnet-022533c9d10886676\\,subnet-08035de61b73936aa\\,subnet-01ef5fc5daeb23246"
export worker_stack_cft="https://amazon-eks.s3-us-west-2.amazonaws.com/cloudformation/2019-01-09/amazon-eks-nodegroup.yaml"
export SPARK_HOME="/home/ec2-user/spark-2.4.0-bin-hadoop2.7"
export config_params="--conf spark.executor.instances=5 --conf spark.kubernetes.container.image=gcr.io/cloud-solutions-images/spark:v2.3.0-gcs --conf spark.kubernetes.driver.pod.name=spark-pi-driver"
export APP_JAR="s3:///dynamicclustersparkdemo/code/spark/spark-examples_2.11-2.2.0-k8s-0.5.0.jar"
export APP_PARAM="1000"
export APP_NAME="spark-pi"
export APP_CLASS_NAME="org.apache.spark.examples.SparkPi"
